<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<a href="https://www.facebook.com/ConquerDivideUSA" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/Conquer-Divide.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://phinehas.us/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/phinehas.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://www.bonfiresisaband.com/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/bonfires.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/HeadNorthNY" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/headnorth.jpg">			
			</a>
		</div>						
	</div>	
	<div class="row">
		<div class="col-lg-3">
			<a href="https://www.facebook.com/eidolaUT" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/ediola.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/hailthesun" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/hailthesun.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://flysouthmusic.com/beautifulbodies/dev/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/beautifulbodies.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://thiswildlifeband.com/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/thiswildlife.jpg">			
			</a>
		</div>						
	</div>					
	<div class="row">
		<div class="col-lg-3">
			<a href="https://www.facebook.com/CROOKS.UK" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/crooks.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://www.gatherersband.com/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/gatherers.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://asitisofficial.com" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/asitis.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://www.movementsofficial.com/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/movements.jpg">			
			</a>
		</div>						
	</div>	
	<div class="row">
		<div class="col-lg-3">
			<a href="https://www.facebook.com/roamuk" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/roam.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/trophyeyesmusic" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/trophyeyes.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/ghostkeyband" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/ghostkey.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/WSTRband" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/wstr.jpg">			
			</a>
		</div>						
	</div>		
	<div class="row">
		<div class="col-lg-3">
			<a href="https://www.facebook.com/brigadesband" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/brigades.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://julevera.com/#home" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/julevera.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="https://www.facebook.com/LUTSband" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/lightupthesky.jpg">			
			</a>
		</div>
		<div class="col-lg-3">
			<a href="http://www.rarityofficial.com/" target="_blank">
				<img class="full-w grid-img" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/rarity.jpg">			
			</a>
		</div>						
	</div>			
</div>