<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/headerimg.png" />
		</div>		
	</div>
	<div class="row label-logo-row">
		<div class="col-lg-1 col-lg-offset-1 label-logo">
			<img class="img-responsive artery" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/arteryrecordings.png">
		</div>
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/badtimingrecords.png">
		</div>	
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/blueswan.png">
		</div>	
		<div class="col-lg-1 label-logo">
			<img class="img-responsive epitaph" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/epitaph.png">
		</div>
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/equalvisionrecords.png">
		</div>
		<div class="col-lg-1 label-logo">
			<img class="img-responsive fearless" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/fearlessrecords.png">
		</div>	
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/hopelessrecords.png">
		</div>												
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/nosleeprecords.png">
		</div>	
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/purenoise.png">
		</div>
		<div class="col-lg-1 label-logo">
			<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/riserecords.png">
		</div>									
	</div>
</div>