<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
			<img class="full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/headerimg.png" />
		</div>		
	</div>
	<div class="row label-logo-row text-center">
		<div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://arteryrecordings.com/" target="_blank">
				<img class="img-responsive artery shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/arteryrecordings.png">
			</a>
		</div>
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://www.badtimingrecords.com/" target="_blank">
				<img class="img-responsive shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/badtimingrecords.png">
			</a>
		</div>	
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://blueswanrecords.com/" target="_blank">
				<img class="img-responsive shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/blueswan.png">
			</a>
		</div>	
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://epitaph.com/" target="_blank">
				<img class="img-responsive epitaph shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/epitaph.png">
			</a>
		</div>
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://www.equalvision.com/" target="_blank">
				<img class="img-responsive shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/equalvisionrecords.png">
			</a>
		</div>
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://fearlessrecords.com/" target="_blank">
				<img class="img-responsive fearless shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/fearlessrecords.png">
			</a>
		</div>	
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-2 label-logo">
			<a href="http://hopelessrecords.com/" target="_blank">
				<img class="img-responsive hopeless shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/hopelessrecords.png">
			</a>
		</div>												
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="https://nosleeprecords.com/" target="_blank">
				<img class="img-responsive nosleep shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/nosleeprecords.png">
			</a>
		</div>	
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://purenoise.net/" target="_blank">
				<img class="img-responsive pn shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/purenoise.png">
			</a>
		</div>
		<div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-0 label-logo">
			<a href="http://www.riserecords.com/" target="_blank">
				<img class="img-responsive rise shadowed" src="https://s3.amazonaws.com/myfangate.com/fromthegetgo/riserecords.png">
			</a>
		</div>									
	</div>
</div>