<div class="container">
	<div class="row">		
		<div id="top" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<div class="top"></div>
		</div>
		<div id="spotify" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">			
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Afearlessrecords%3Aplaylist%3A2GUIJdmqI3GYOkCPqXyiXZ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>			
		</div>	
		<div id="bottom" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<div class="bottom"></div>					
		</div>		
	</div>
</div>