<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="top"></div>
		</div>
		<div id="spotify" class="col-lg-12">			
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12120256534%3Aplaylist%3A5mhddXHn4dNbFJPt4MC0BT" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>			
		</div>	
		<div class="col-lg-12">
			<div class="bottom"></div>					
		</div>
	</div>
</div>